/*
Media Query
0 - 600px       Phone
600 - 900px     Tablet Portrait
900 - 1200px    Tablet Landscape
1200 - 1800px   Desktop
1800px ->       Big Desktop
$breakpoint argument shortcude
- phone
- phone-land
- tab
- tab-land
- big-desktop
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap");
* {
  margin: 0; }

body {
  height: 100%;
  width: 100%; }

.main {
  margin: 0 5%; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .main {
      margin: 0 0%; } }

h1,
h2,
h3 {
  font-family: "Handlee", cursive; }

li {
  list-style-type: none; }

.blue {
  background-color: #004aad;
  color: white; }

.header {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .header {
      height: 60px; } }
  .header-menuIcon {
    position: relative;
    top: -1000px;
    width: 0;
    height: 0; }
  .header-logo {
    font-size: 20px;
    font-family: "Chewy", cursive; }
  .header-links {
    display: flex;
    margin-right: 20px; }
    .header-links li {
      margin-right: 10px;
      font-size: 16px; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .header-links li {
          font-size: 8px; } }

.footer {
  width: 100%;
  background: linear-gradient(90deg, #004aad 0%, #0795ff 100%);
  height: 50px; }
  .footer-redes {
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px 0px; }
  .footer-icon {
    fill: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px; }
  .footer-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #004aad;
    background: linear-gradient(90deg, #004aad 0%, #0795ff 100%);
    height: 3rem;
    width: 100%; }
    .footer-rights p {
      padding: 5px;
      text-align: center;
      font-size: 12px; }

.slider {
  height: 70vh;
  margin-bottom: 20px; }
  @media (max-width: 64em) {
    .slider {
      height: 90vh; } }
  @media (max-width: 50em) {
    .slider {
      height: 60vh; } }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .slider {
      height: 40vh; } }
  .slider-svg {
    position: relative;
    z-index: 1;
    fill: #004aad; }
  .slider-container {
    top: 80px;
    left: 100px;
    position: absolute;
    z-index: 10;
    width: 80vw; }
    @media (max-width: 64em) {
      .slider-container {
        top: 30px;
        left: 60px; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .slider-container {
        left: 0px;
        top: 35px;
        width: 100vw; } }
  .slider-projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    transition: 2s; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .slider-projects {
        justify-content: space-around; } }
  .slider-img {
    padding-top: 20px; }
    .slider-img img {
      width: 560px;
      height: 460px; }
      @media (max-width: 50em) {
        .slider-img img {
          width: 460px;
          height: 360px; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .slider-img img {
          width: 190px;
          height: 180px; } }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .slider-img {
        padding-top: 30px; } }
  .slider-texts {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .slider-texts {
        margin-top: -45px; } }
    .slider-texts-title {
      font-size: 30px; }
      @media (max-width: 64em) {
        .slider-texts-title {
          font-size: 20px; } }
      @media (max-width: 50em) {
        .slider-texts-title {
          font-size: 18px; } }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .slider-texts-title {
          font-size: 16px;
          padding-right: 0px; } }
    .slider-texts-text {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      background-color: rgba(255, 255, 255, 0.2);
      width: 140px;
      border-radius: 100px;
      transition: all 0.7s; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .slider-texts-text {
          height: 30px;
          width: 80px;
          font-size: 12px; } }
      .slider-texts-text:hover {
        width: 125px;
        box-shadow: 3px 3px 6px -6px #000;
        cursor: pointer; }
        @media (min-width: 6.25em) and (max-width: 37.5em) {
          .slider-texts-text:hover {
            width: 90px; } }
      .slider-texts-text-icon {
        fill: #fff;
        margin-left: 5px;
        width: 15px;
        height: 15px; }
        @media (min-width: 6.25em) and (max-width: 37.5em) {
          .slider-texts-text-icon {
            width: 10px;
            height: 10px; } }

.lenguages {
  margin-top: 30px;
  height: 90%; }
  .lenguages-title {
    color: #ffdd64;
    align-self: flex-start;
    margin-bottom: 2rem; }
    @media (max-width: 50em) {
      .lenguages-title {
        font-size: 26px; } }
  .lenguages-container {
    display: grid;
    grid-template-columns: 60% 40%; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .lenguages-container {
        display: flex;
        flex-direction: column-reverse; } }
    @media (max-width: 50em) {
      .lenguages-container {
        grid-template-columns: 40% 60%; } }
    .lenguages-container-box {
      margin-right: 10px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .lenguages-container-box-text {
        font-size: 22px; }
        @media (max-width: 50em) {
          .lenguages-container-box-text {
            font-size: 16px; } }
    .lenguages-container-grill {
      column-gap: 0.5rem;
      column-count: 3;
      padding: 0.5rem; }
      .lenguages-container-grill-box {
        position: relative;
        margin: 0.5rem;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: move 5s ease-in-out 2s infinite alternate; }
        .lenguages-container-grill-box img:hover {
          box-shadow: 3px 3px 6px -6px #333; }

.cards-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px; }
  @media (max-width: 50em) {
    .cards-container {
      margin-top: 0;
      height: 400px; } }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .cards-container {
      flex-direction: column;
      height: auto; } }
  .cards-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 350px; }
    .cards-container-box-img {
      width: 250px;
      height: 300px; }
      @media (max-width: 50em) {
        .cards-container-box-img {
          width: 200px;
          height: 250px; } }
    .cards-container-box-title {
      color: #0795ff; }
    .cards-container-box:hover {
      box-shadow: 3px 3px 6px -6px #333; }

.aboutMe {
  color: #fff;
  background: #fff;
  background: linear-gradient(90deg, #004aad 0%, #0795ff 100%); }
  .aboutMe-container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .aboutMe h2 {
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Chewy", cursive;
    letter-spacing: 1px; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .aboutMe h2 {
        font-size: 16px; } }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .aboutMe p {
      font-size: 12px; } }
  .aboutMe img {
    border-radius: 50%;
    width: 300px;
    height: 300px; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .aboutMe img {
        width: 120px;
        height: 120px; } }

@keyframes move {
  0% {
    top: 0;
    left: 0;
    right: 0; }
  50% {
    top: -15px;
    left: 10px;
    right: 15px; }
  100% {
    top: 0;
    left: 0;
    right: 0; } }

.big {
  height: 100%;
  width: 100%; }

.small {
  width: 90%; }

.m-left {
  margin-right: 0; }

.w-200 {
  width: 120px; }
  @media (max-width: 50em) {
    .w-200 {
      width: 80px; } }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .w-200 {
      width: 70px; } }

.w-150 {
  width: 110px; }
  @media (max-width: 50em) {
    .w-150 {
      width: 80px; } }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .w-150 {
      width: 70px; } }

.active {
  display: flex; }

.hide {
  display: none; }

.notFound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }
  @media (min-width: 6.25em) and (max-width: 37.5em) {
    .notFound {
      flex-direction: column-reverse; } }
  .notFound img {
    width: 20vw;
    height: 70vh; }
  .notFound-texts {
    position: relative;
    top: -20%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 6.25em) and (max-width: 37.5em) {
      .notFound-texts {
        top: 0%; } }
    .notFound-texts h3 {
      font-size: 40px; }
      @media (min-width: 6.25em) and (max-width: 37.5em) {
        .notFound-texts h3 {
          font-size: 20px; } }
    .notFound-texts a {
      color: #fff; }

.projects-card {
  width: 500px;
  height: 500px; }
  .projects-card-img img {
    width: 100%;
    height: 300px; }
