.header {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 75px;

  @include respond(phone) {
    height: 60px;
  }

  &-menuIcon {
    position: relative;
    top: -1000px;
    width: 0;
    height: 0;
  }
  &-logo {
    font-size: 20px;
    font-family: "Chewy", cursive;
  }
  &-links {
    display: flex;
    margin-right: 20px;
    li {
      margin-right: 10px;
      font-size: 16px;
      @include respond(phone) {
        font-size: 8px;
      }
    }
  }
}
