* {
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
}
.main {
  margin: 0 5%;
  @include respond(phone) {
    margin: 0 0%;
  }
}
h1,
h2,
h3 {
  font-family: $font-cursive;
}
li {
  list-style-type: none;
}
.blue {
  background-color: $color-blue-1;
  color: white;
}
