// en esta vista estan las fuentes colores mas usados
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Handlee&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
// font-family: 'Handlee', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Merienda One', cursive;
// font-family: 'Chewy', cursive;
// $color-yellow-1: #fde100;
$color-yellow-1: #ffdd64;
$color-blue-1: #004aad;
$color-blue-2: #0795ff;

$color-black: #000000;
$color-white: #fff;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-light-5: #e9e9e9;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

// fonts
$font-cursive: "Handlee", cursive;
$font-normal: "Lato", sans-serif;
